<p>
  <strong>Commenter:</strong>
  <% user = User.find(comment.commenter.to_i).name 
     user ||= "Unknown"   
  %>
  <%= user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], remote: true, 
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>