<div class="w-auto p-3">
  <textarea name='body' class= "w-auto p-3" rows='3' cols='90' id="comment_text"></textarea>
  <input type='submit' id='publish_comment' value='Publish'/>
  <input type='hidden' id='current_user_id' value='<%= get_current_user.id %>'  />
</div>

