 <% if get_current_user %>
	<div class="row row-cols-1 row-cols-md-3 g-4 p-3">
	  <% @articles.each do |article| %>
		  <% unless article.archived? %>
		    <div class="col">
				<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title"><%= article.title %></h5>
					<p class="card-text"><%= article.body[0,60] + " ..." %></p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated <%= article.updated_at.to_date.strftime('%d-%m-%Y') %></small>
					<%= link_to 'open', article_path(article), class: "right"%>		
				</div>
				</div>
			</div>
		  <% end %>
	  <% end %>
	  </div>
  <br><br>  
  <% end %>
